@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Euclid";
  src: url('../fonts/euclid/Euclid\ Circular\ A\ Regular.ttf');
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Euclid";
  src: url('../fonts/euclid/Euclid\ Circular\ A\ Bold.ttf');
  font-weight: bold;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Euclid";
  src: url('../fonts/euclid/Euclid\ Circular\ A\ Italic.ttf');
  font-weight: normal;
  font-style: italic;
  }
  



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Euclid',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */



header{
  border-bottom: 1px solid rgba(91, 91, 91, 0.15);
}


.login--bx{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06)
}


.sidebarmenu{
  position: fixed;
  top: 0;
  left: -70%;
  width: 0;
  height: 100%;
  bottom: 0;
  background: #ffffff;
  z-index: 999;
  box-shadow: 0 12px 32px -12px rgb(12 22 44 / 32%);
  transition: all .3s ease-in;
}

.sidebarmenu.show{
  left: 0;
  width: 70%;
  transition: .5s ease-in-out;
}



.sidebarmenu .mobile_menu a {
  position: relative;
  transition: all .3s ease-in-out;
  
}
.sidebarmenu .mobile_menu a.active {
  background-color: #45cd8536;
}
.sidebarmenu .mobile_menu a:hover {
  background-color: #45cd8536;
  transition: all .3s ease-in-out;

}
.sidebarmenu .mobile_menu a:after {
  transition: all .3s ease-in-out;
}


.sidebarmenu .mobile_menu a.active:after {
  border: 2px solid #45CD85;
  /* border-right-color: #45CD85; */
  content: "";
  height: 100%;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  transition: all .3s ease-in-out;
}

.active .nav-pointer{
  border: 5px solid transparent;
  border-left-color: #45CD85;
  content: "";
  height: 0;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  /* transform: rotate(180deg); */
  width: 0;
}